<div>
    <h1>Список пользователей</h1>    
    <a class="btn btn-primary" href="#/user/create">
        <i class="glyphicon glyphicon-plus"></i> Добавить
    </a>
    <div ng-show="users.length > 0">
        <table class="table table-striped table-hover">
            <thead>
            <th>Логин</th>
            <th>Дата регистрации</th>
            <th>Дата рождения</th>
            <th style="width:80px;">Действия&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in users">
                    <td>{{data.login}}</td>
                    <td>{{data.created}}</td>
                    <td>{{data.birthdate}}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="#/user/update/{{data.id}}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a> 
                        <a class="btn btn-danger btn-xs" ng-click="deleteUser(data.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="users.length == 0">
        Список пользователей пуст
    </div>
</div>